name: Run pre-commit

on:
  - pull_request
  - push
  - workflow_dispatch

jobs:
  pre-commit:
    name: Run pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Set up uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.6.14"

      - name: Install project
        run: uv sync

      - name: Run pre-commit
        run: uv run pre-commit run --show-diff-on-failure --color=always --all-files
